# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
.venv/

# Django
*.sqlite3
/staticfiles/
/media/

# Environment / secrets
.env
*.env

# Node / Frontend
node_modules/
frontend/dist/
frontend/.env

# VS Code
.vscode/

# macOS
.DS_Store
__MACOSX/

# Logs
*.log

# Docker
*.override.yml
